:root{
    --colorDefault: #ffff00;
    --whiteColor: #ffffff;
}
.navbar{
    background-color: transparent!important;
}
.fixed{
    background-color:red!important;
}
.navbar-brand{
    padding-left: 6rem;
    font-size: 2rem;
    color: var(--colorDefault)!important;
}

.navbar-nav{
    margin: 0 30rem auto;

}
.navbar-nav > li{
    padding-left: 60px;
    font-size: 1.2rem;
    margin: 15px;
    font-weight: 500;
}
.nav-link{
    color: var(--whiteColor)!important;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
}
.nav-link:hover{
    color: var(--colorDefault)!important;
}
.home{
    background: url(../images/img.jpg) no-repeat;
    background-size: cover;
    height: 50rem;
}

.col-md-6{
    margin: 30% auto;
}
.titles > h4{
    text-align: center;
    font-size: 3.5rem;
    color:  var(--whiteColor);
}

.titles > p{
    font-size: 1.5rem;
    text-align: center;
    color: var(--whiteColor);
    margin-bottom: 0;
}

.button{
    width: 100%;
    margin: 3rem 13.5rem auto;
}

.button > a{
    background-color: var(--colorDefault);
    color: black;
    padding: 1.5rem 4rem;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    

}
